git "https://build.top.local/source/git/refImpl/mobszen/iOS/ref-GemCommonsKit.git" ~> 1.0
git "https://build.top.local/source/git/refImpl/mobszen/iOS/asn1kit.git" ~> 1.0
github "SwiftCommon/DataKit" ~> 1.0